

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}
.chatInputHolder {
  width: 100%;
  margin: auto
}
.chatInputHolder>input{
  border:none;
  width: 90%;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
}

@tailwind base;
@tailwind components;
@tailwind utilities;